* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SpiderBlack";
  src: url("SpiderBlack.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('5108356.jpg');
  font-family: sans-serif;
}

.flex-container {
  display: flex;
}

div.left {
  flex: 2 1 0;
  text-align: center;
  font: 5em "SpiderBlack", sans-serif;
  position: relative;
  top: 150px;
  background-color: rgba(199, 199, 199, 0.6)
}

span.logo {
  margin-right: 10px;
  margin-left: 10px;
}

div.right {
  flex: 3 1 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* div.right>div {
  margin-left: 20px;
} */

div.top, div.bottom {
  flex: 2 1 auto;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
}

p {
  padding: 0 40px;
}

p.line2 {
  padding-top: 20px;
}

div.middle {
  flex: 3 1 auto;
}

div.title {
  font-size: 1.5em;
}

.spider {
  font: 1.2em "SpiderBlack", sans-serif;
}